* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* font-family: 'Abril Fatface', cursive;
font-family: 'Lato', sans-serif; */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: "Lato", sans-serif;
    z-index: 99;
}

/* Header */
header {
    background-color: #fff;
    padding: 0 1rem;
    position: absolute;
    width: 100%;
    z-index: 99;
    box-shadow: 0 2px 2px #000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #52796F;

}

#menu {
    list-style-type: none;
    letter-spacing: 4px;
    font-size: 110%;
}

#menu>li {
    margin-bottom: 1rem;

}

.active {
    border-bottom: 1px solid #000;
}

/* Dropdown toggle */
nav {
    position: absolute;
    padding: 0 1rem;
    background-color: #fff;
    left: 0;
    width: 100%;
    display: none;
    box-shadow: 0 2px 2px #000;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;

}

/* Main content */
main {
    background: green;
    flex: 1 0 auto;
    margin-top: 47px;

}

/* Footer */
#socials-network {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socials-network i {
    font-size: 160%;
    padding: 5%;
    color: #52796F;
}

/* media query for 768px and larger */
@media screen and (min-width:768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;

    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }


    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Push down the main content  */
    main {
        margin-top: 79px;
    }
}

/* Media query for 992px and upwards  */

@media screen and (min-width:992px) {

    #menu a:hover {
        border-bottom: 1px #000 solid;
    }
}